<div ng-controller="registerCtrl">
	<ion-view view-title="Register">
	  <ion-content class="Register">

	  	<h1>My First App</h1>

	    <div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Username</span>
		    <input type="text" ng-model="r.Username" placeholder="Username">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="Email" ng-model="r.Email" placeholder="Email">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Password</span>
		    <input type="password" ng-model="r.Password" placeholder="Password">
		  </label>
		</div>

		<button ng-click="obtener(r)" class="button button-outline button-light">
		  Register
		</button>
		<button class="button button-clear button-light" ui-sref="login">
		  <span>I already have an account</span>
		</button>

	  </ion-content>
	</ion-view>
</div>