<div ng-controller="welcomeCtrl">
	<ion-view view-title="welcome">
	  <ion-content class="welcome">
	  	<link rel="stylesheet" href="../css/welcome.css">
	  	<div class="row centrado">
	  		<div class="col-md abajo">
	  			<img src="img/telefono.jpg"  class="redonda">
	  		</div>
	  		<div class="row blanco centrado">
		  		<div class="col-md ">
				  	<span class="texto">Encuentra lo que buscas <br>fácil y rápido</span><br>
				  	<button class="button button-clear button-light " ui-sref="register">
					  <b>saltar</b>
					</button>
		  		</div>
		  		
		  	</div>
	  	</div>
	  	
	  	

	  </ion-content>
	</ion-view>
</div>